body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color:#000000;
}


/* common */
.page_title { margin:50px auto;text-align:center;border-top:3px double #333;border-bottom:3px double #333;width:250px;font-family:'Noto Sans KR', sans-serif;font-weight:400; }
.form_container { background: url('/public/images/common/biscuit.png') no-repeat center center;background-size: 570px 770px;padding-top:80px;width:570px;height:770px;margin-left:auto;margin-right:auto;margin-bottom:155px;display:flex;flex-direction: column;font-size:20px;padding:70px 110px; }

.btn_container { text-align:center;margin-top:30px; }
.btn_submit { box-shadow: 0px 0px 3px 0px #666666;background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);background-color:#eae0c2;border-radius:30px;border:2px solid #ede2c7;display:inline-block;cursor:pointer;color:#505739;font-family: 'Noto Sans KR', sans-serif;font-size:22px;font-weight:bold;padding:10px 24px;text-decoration:none;text-shadow:0px 1px 0px #ffffff; }
.btn_submit:hover { background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);background-color:#ccc2a6;box-shadow: 0px 0px 7px 0px #666666; }
.btn_submit:active { position:relative;top:1px; }
.btn_sign_link { font-weight:600;text-align: center;color:#fff;text-shadow:1px 1px rgba(0,0,0,.7);margin-top:15px; }
.btn_sign_link a { color:#fff;text-decoration: none; }
.btn_sign_link:hover a { text-decoration: underline; }